body {
    background-image: url("background.png");
    font-size: 8pt;
    font-family: "Verdana", "Tahoma", sans-serif;
    margin: 0;
}

/*img {
    height: 50px;
    max-height: 50px;
}*/

.img_heading {
    background-image: url("bannerbg.png");
    width: 100%;
    text-align: center;
}

.heading_1 {
    font-weight: bold;
    font-size: 24pt;
    font-family: "Tahoma", "Verdana", sans-serif;
    text-shadow: 3px 3px #999999;
    text-align: center;

}

#main_div {
  border-radius: 20px;
  border: 4px solid gray;
  width: 800px;
  height: auto;
  margin: auto;
  overflow: auto;
}


#div1{
  width: 550px;
  float: left;
}

#div2 {
    width: 250px;
    float: right;
    background-color: #A2B964;
    margin: 0px;
}

#bar {
    background-color: #A2B964;
     position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#div2_sub {
    padding-right: 10pt;
    padding-left: 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

.inner_margin {
    margin-top: 10pt;
    margin-bottom: 20pt;
}



.quote-box {
  background-color: #E8DC9B;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 8px;
  font-size: 8pt;
  font-weight: bold;
}

.column { 
    float: left;
    width: 47%; 
    margin-right: 7px;
    margin-left: 7px;
}

.img1 {
    float: left;
    padding-right: 5px;
    height: 22px;
}

.img2 {
  float: left;
  margin-right: 5px;
  height: 33px;
}

.img3 {
    float: left;
    width: 100%;
}

.rottenbig {
  float: left;
  display: inline;
  height: 83px;
  vertical-align: baseline;
}

.rating {
  font-size: 48pt;
  color: red;
  padding: 6px;
  margin: 0;
  font-weight: bold;
}

.dt_sub {
    font-weight: bold;
    margin-top: 10pt;
}

.bullet_less {
    list-style-type:none;
}


.footer {
  background-color: #a2b964;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
}

.validator {
  opacity: 50%;
  position: fixed;
  bottom:0;
  right: 0;
}

.banner {
    height: 83px;
      background-image: url("rbg.png");
}




