body {
	background-color: #CCCCFF;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
}

.center {
	font-size: 32pt;
	text-align: center;
	margin-bottom: 0px;
}

.screen {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 400px;
	font-size: 12pt;
	font-family: monospace;
}

.text-box {
	border: 5px solid black;
}

.field-set {
	display: inline;
	border: 5px solid black;
	width: 80pt;
}

.field-set-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}

.validator {
	float: right;
}